on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
    check_pr_labels_job:
        runs-on: ubuntu-latest
        name: A job to check the PR labels contain given labels
        steps:
            - name: Check PR labels action step
              id: check_pr_labels
              uses: teamrocket77/check-pr-labels-on-push-action@v1
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  labels: '["enhancement"]'
            - name: Inspect result
              run: echo "${{ steps.check_pr_labels.outputs.result }}"
            - name: Inspect allLabels
              run: echo "${{ steps.check_pr_labels.outputs.allLabels }}"
            - name: Inspect matchedLabels
              run: echo "${{ steps.check_pr_labels.outputs.matchedLabels }}"
